.preview-panel {
  background-color: rgba(0,0,0,0.5);
}

.preview-panel .retracted {
  max-height: 400px;
}

.preview-panel .expanded {
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  max-height: 800px;
}

.preview-panel p,
.preview-panel span,
.preview-panel h1,
.preview-panel h2,
.preview-panel h3,
.preview-panel h4 {
  color: white;
  text-align: left;
}

.preview-panel a {
  color: #E4F0D0;
}

.preview-panel #book-title,
.preview-panel .menu-btn {
  text-align: center;
}

.preview-panel .details {
  border-right: white 1px solid;
}

.preview-panel .close-preview {
  font-size: 30px;
}

.preview-panel img {
  max-height: 350px;
  position: relative;
  top: -60px;
}

/* LINK EFFECTS */

/* Effect 12: circle */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
  width: 90px;
  height: 90px;
  border-width: 6px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

/* ANIMATIONS */

.animated {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  65% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }

  65% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.slideDown-appear {
  max-height: 1px;
  opacity: 0.01;
}

.slideDown-appear.slideDown-appear-active {
  -webkit-animation-name: slideDown-appear;
  animation-name: slideDown-appear;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideDown-appear {
  0% {
    max-height: 1px;
    opacity: 0.01;
  }
  
  75% {
    opacity: 0.5;
  }

  100% {
    max-height: 400px;
    opacity: 1;
  }
}
@keyframes slideDown-appear {
  0% {
    max-height: 1px;
    opacity: 0.01;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    max-height: 400px;
    opacity: 1;
  }
}

.slideDown-leave {
  max-height: 400px;
  opacity: 1;
}

.slideDown-leave.slideDown-leave-active {
  -webkit-animation-name: slideDown-leave;
  animation-name: slideDown-leave;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideDown-leave {
  0% {
    max-height: 400px;
    opacity: 1;
  }
  
  25% {
    opacity: 0.5;
  }

  100% {
    max-height: 1px;
    opacity: 0.01;
  }
}
@keyframes slideDown-leave {
  0% {
    max-height: 400px;
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  100% {
    max-height: 1px;
    opacity: 0.01;
  }
}